* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h3,h4 {
  padding: 0;
  margin: 0;
}

.clear {
  margin-left:290px;
}

.add,
.left {
  margin-bottom: 10px;
}

.buttons {
  padding: 6px;
  background-color:rgb(240, 228, 195);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px
}

.left {
 margin-top: 5px;
 font-size: 16px;
}

.searchNew {
  position: absolute;
  top:10%;
  right:20%;
  border: 1px solid rgb(185, 184, 184);
  width: 400px;
  border-radius: 5px;
}